<div class="jumbotron">
  <h1>{{course.name}}</h1>
  <button class="btn btn-default btn-lg">All Students</button>
  <button class="btn btn-default btn-lg">Who's Here</button>
  <hr>
  <div class="row">
    <div ng-repeat="item in course.students | orderBy: 'name'" class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{item.name[0]}} <br>
          {{item.name[1]}}
        </div>
        <div class="panel-body">
          <button type="submit" class="btn btn-default">Sign-In</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <form ng-submit="addStudent()" class="form-inline" role="form">
    <div class="form-group">
      <div class="input-group">
        <input ng-model="studentName" type="text" class="form-control" placeholder="Add Student">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">Submit</button>
        </span>
      </div>
    </div>
  </form>
</div>
