<div ng-init="filtered = course.students" class="well">
  <h1>{{course.name}}</h1>
  <button ng-click="filtered = course.students" class="btn btn-default btn-lg">All Students</button>
  <button ng-click="filtered = (course.students | filter: {attendance: true} : false)" class="btn btn-default btn-lg">Who's Here</button>
  <hr>
  <div class="row">
    <div ng-repeat="item in filtered | orderBy: 'name[0]'" class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{item.name[0]}} <br>
          {{item.name[1]}}
        </div>
        <div class="panel-body">
          <p ng-show="item.attendance"><i class="fa fa-check"></i> Signed In</p>
          <p ng-hide="item.attendance">Not Signed In</p>
          <button ng-show="item.attendance" ng-click="item.attendance = false" type="submit" class="btn btn-default">I'm Leaving</button>
          <button ng-hide="item.attendance" ng-click="item.attendance = true" type="submit" class="btn btn-default">Sign-In</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <form ng-submit="addStudent()" class="form-inline" role="form">
    <div class="form-group">
      <div class="input-group">
        <input ng-model="studentName" type="text" class="form-control" placeholder="Add Student">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">Submit</button>
        </span>
      </div>
    </div>
  </form>
</div>
